{% extends 'base.html' %}
{% block content %}
    <h1 class="title">Tag-Me</h1>
            <p>Books tagged with <strong>"{{ tag.name }}"</strong></p>
            <div class="columns is-mobile mt-5">
                <div class="column is-half is-offset-one-quarter">
                    <form action="{% url 'books:create' %}" method="post"> {% csrf_token %}
                        <div class="field">
                            <label class="label">Title</label>
                            <div class="control">
                                <input class="input" type="text" name="title" placeholder="Book Title" />
                                
                            </div>
                            {% for err in form.title.errors   %}
                                    <small class="is-danger">{{err}}</small>
                                {% endfor %}
                        </div>


                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <input class="input" name="description" type="text" placeholder="Book Descriptions" />
                                 
                            </div>
                            {% for err in form.description.errors   %}
                                    <small class="is-danger">{{err}}</small>
                                {% endfor %}
                        </div>


                        <div class="field">
                            <label class="label">Tags</label>
                            <div class="control">
                                <input class="input" type="text" name="tags" placeholder="Book Tags" />
                            </div>
                            {% for err in form.tags.errors   %}
                                    <small class="is-danger">{{err}}</small>
                                {% endfor %}
                        </div>


                        <div class="control">
                            <button class="button is-primary" type="submit">Submit</button>
                          </div>
                    </form>
                </div>
            </div>
     
{% endblock content %}
            