
{% extends 'base.html' %}
    {% load cloudinary %} 
 {% block content %}
<h1 class="title">Tag-Me</h1>
<p>Books tagged with <strong>{{ tag.name }}</strong></p>
<div class="columns is-mobile mt-5">
  <div class="column is-half is-offset-one-quarter">
    {% for book in books %}
    <div class="card mt-3">
    
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img
                src={{book.image.url}}
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            {% if book.author%}
            <p class="title is-4">{{ book.author }}</p>
            <p class="subtitle">{{ book.title }}</p>
            {% endif %}
          </div>
        </div>

        <div class="content">
          {{ book.description }} {% if book.tags %}
          <div class="tags">
            {% for tag in book.tags.all %}
            <a href="{% url 'books:books_tag' tag.pk %}">{{ tag }} &nbsp;</a>
            {% endfor %}
          </div>
          {% endif %}

          <br />
          <time datetime="2016-1-1"
            ><p>{{ book.updated|date:"M j, Y" }}</p></time
          >
        </div>
      </div>
    </div>

    <p></p>
    {% endfor %}
  </div>
</div>

{% endblock content %}
